    body {
        height: 100vh;
        background-color: #3A494C;
        background-image: url(images/pattern-grey.png);
        background-size: cover;
        margin: 0;
        padding: 0;
    }

    header {
        position: fixed;
        z-index: 100;
        background-color: #3A494C;
        height: 120px;
        width: 100vw;
    }

    #sub-header {
        background-color: #7F6D74;
    }
    /*//////////Mobile Navigation/////////////////*/

    li {
        color: #CCC3C6;
        background: -webkit-linear-gradient(to right, #7B405C, #3A494C, #CCC3C6);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #3A494C, #7B405C, #CCC3C6);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        width: 93%;
        margin: 8px 0;
        list-style: none;
    }

    input {
        display: none;
    }

    label {
        cursor: pointer;
        font-size: 1.5em;
        font-family: "Expletus Sans";
        width: 30px;
        text-align: center;
    }

    label h2 {
        font-size: 1.0em;
        color: #CCC3C6;
    }

    nav {
        max-height: 0;
        overflow: hidden;
        background-color: #CCC3C6;
        z-index: 1000;
    }

    input:checked~nav {
        max-height: 45vh;
        z-index: 1000;
    }

    nav a {
        text-decoration: none;
        color: #CCC3C6;
        font-family: "Expletus Sans";
        font-size: 1.4em;
        font-weight: 900;
        line-height: 35px;
        margin-left: 15px;
    }

    nav a:hover {
        color: #35262A;
        text-decoration: none;
        padding-left: 1px;
    }
    /*//////////Mobile Buttons/////////////////*/

    #main-buttons {
        text-align: center;
        margin-top: 50px;
    }

    #main-buttons a {
        text-decoration: none;
        color: #CCC3C6;
        vertical-align: middle;
    }

    #main-buttons button {
        width: 35vw;
        height: 25vw;
        font-size: 7.2vw;
        cursor: pointer;
        margin: 2vw;
        font-family: "Expletus Sans";
        background: -webkit-linear-gradient(to right, #7B405C, #3A494C, #7F6D74);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #7B405C, #3A494C);
        border: none;
    }

    .more-details img,
    .movie-more-details img {
        width: 9vw;
        position: absolute;
        top: 73%;
        right: 3%;
    }

    .genre,
    #genre {
        text-transform: capitalize;
    }

    .sub-buttons {
        text-align: center;
    }

    .sub-buttons button a {
        text-decoration: none;
        font-size: 1.2em;
        color: #CCC3C6;
        font-weight: 700;
        font-family: "Expletus Sans";
    }

    .sub-buttons button {
        width: 20vw;
        height: 15vw;
        margin: 28px 5px;
        background-color: #7B405C;
        border: none;
    }

    .current-item a {
        color: #7B405C;
    }

    .current-item {
        background-color: #CCC3C6;
    }

    h1 {
        font-family: "Expletus Sans";
        font-size: 1.9em;
        color: #35262A;
        text-align: center;
        margin: 0;
        padding-top: 20px
    }

    H2 {
        font-family: "Expletus Sans";
        font-size: 1.4em;
        color: #7B405C;
        margin: 0;
    }

    h3 {
        font-family: "Expletus Sans";
        font-size: 1em;
        color: #35262A;
        margin: 0;
    }

    p {
        font-family: "Expletus Sans";
        font-size: 1.1em;
        color: #35262A;
    }

    .image,
    .movie-image {
        width: 80vw;
        filter: grayscale(100%);
    }

    .image:hover,
    .movie-image:hover {
        width: 80vw;
        filter: grayscale(0%);
    }

    main,
    .movies {
        background-color: #7F6D74;
        background-image: url(images/pattern-grey.png);
        background-size: contain;
        padding-top: 125px;
    }

    .list,
    .movie-list {
        text-align: center;
        background-color: #CCC3C6;
        width: 80vw;
        height: 70vw;
        margin: 25px auto;
        position: relative;
    }

    .date,
    .time,
    .movie-date,
    .movie-time {
        display: inline-block;
    }

    .title {
        margin: 0;
    }

    .hidden {
        display: none;
    }

    .some-image {
        width: 50px;
    }

    #each-event {
        background-color: #CCC3C6;
        width: 70vw;
        margin: 0 auto;
    }

    #event-image {
        width: 70vw;
    }

    #each-event h1 {
        font-family: "Expletus Sans";
    }

    #content {
        display: grid;
        grid-template-columns: 0vw 20vw 70vw;
        padding-top: 145px;
    }

    #more-arrow img,
    #movie-arrow img {
        height: 100px;
        margin: 15vh 25px 0 5px;
    }
    /*Breakpoint for Desktop*/

    @media all and (min-width:666px) {
        .sub-body {
            display: grid;
        }
        main,
        .movies {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(15vw, 25vw));
            grid-gap: 25px;
            background-color: #7F6D74;
            background-image: url(images/pattern-grey.png);
            padding: 200px 10vw;
        }
        header {
            height: 180px;
        }
        .list,
        .movie-list {
            max-width: 25vw;
            max-height: 22vw;
            margin: 0;
        }
        .image,
        .movie-image {
            max-width: 25vw;
        }
        /*Filtering Desktop*/
        .navigation {
            grid-column: 1;
            grid-row: 2/3;
            border: solid 5px #3A494C;
            min-height: 21.7vw;
            max-width: 25vw;
        }
        nav {
            max-height: 450px;
            background: transparent;
        }
        nav a {
            color: #CCC3C6;
            font-size: 1.5vw;
        }
        nav a:hover {
            padding-left: 15px;
            color: #35262A;
        }
        label {
            display: none;
        }
        h1 {
            font-size: 2.8em;
            grid-column: 1/4;
            grid-row: 1;
        }
        li {
            background: -webkit-linear-gradient(to right, #7B405C, #3A494C, #7F6D74);
            /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #3A494C, #7B405C, #7F6D74);
        }
        /*//////////Desktop Buttons/////////////////*/
        #main-buttons {
            margin-top: 150px;
            text-align: center;
        }
        #main-buttons button {
            width: 20vw;
            height: 15vw;
        }
        #main-buttons a {
            font-size: 3.4vw;
        }
        .sub-buttons {
            text-align: center;
            margin: 30px 0;
        }
        .sub-buttons button {
            width: 190px;
            height: 100px;
            font-size: 1.7em;
            margin: 10px;
        }
        .more-details img,
        .movie-more-details img {
            width: 3vw;
            position: absolute;
            top: 72%;
            right: 3%;
        }
        /*////////// Animations/////////////////*/
        .more-details img:hover,
        .movie-more-details img:hover {
            animation: goright 0.8s ease-in-out infinite;
        }
        @keyframes goright {
            45% {
                transform: translateX(5px);
            }
            100% {
                transform: translateX(-5px);
            }
        }
        #more-arrow img:hover,
        #movie-arrow img:hover {
            animation: goleft 0.9s ease-in-out infinite;
        }
        @keyframes goleft {
            45% {
                transform: translateX(-5px);
            }
            100% {
                transform: translateX(5px);
            }
        }
        #each-event {
            background-color: #CCC3C6;
            width: 60vw;
        }
        #content {
            display: grid;
            grid-template-columns: 0vw 5vw 80vw;
            padding: 250px 10vw 0 10vw;
        }
        #more-arrow img,
        #movie-arrow img {
            height: 250px;
            margin-top: 27vh;
        }
        #event-image {
            width: 40vw;
            margin: 20px 25% 0 17%;
        }
    }
