body {
    background-color: #EDFBFF;
    background-image: url(images/pattern-light-green.png);
    background-size: cover;
    margin: 0;
    padding: 0;
}

header {
    position: fixed;
    z-index: 100;
    height: 85px;
    width: 100vw;
    background-color: #2D393D;
}

footer img {
    width: 90px;
    margin: 0 40%;
    cursor: pointer;
}


/*//////////Mobile Navigation/////////////////*/

li {
    color: #FCFEFD;
    background-color: #B0667C;
    width: 30vw;
    margin: 10px auto;
    list-style: none;
}

ul {
    padding: 0;
}

input {
    display: none;
}

label {
    cursor: pointer;
    font-size: 1.5em;
    font-family: "Expletus Sans";
    width: 30px;
    text-align: center;
}

label h2 {
    font-size: 0.9em;
    color: #7B405C;
    background-color: #FCFEFD;
    opacity: 0.8;
    width: 30vw;
    margin: 20px auto 0 auto;
}

label h2:hover {
    color: #2D393D;
}

nav {
    max-height: 0;
    overflow: hidden;
    background-color: #FCFEFD;
    z-index: 1000;
    margin: 15px auto;
    width: 90vw;
}

input:checked~nav {
    max-height: 46vh;
    z-index: 1000;
}

nav a {
    text-decoration: none;
    color: #FCFEFD;
    font-family: "Expletus Sans";
    font-size: 1.4em;
    font-weight: 900;
    line-height: 35px;
    margin-left: 15px;
    padding: 8px 5px;
}

nav a:hover {
    color: #2D393D;
    text-decoration: none;
}


/*//////////Mobile Buttons/////////////////*/

#main-buttons {
    text-align: center;
    margin-top: 50px;
}

#main-buttons a {
    text-decoration: none;
    color: #FCFEFD;
    vertical-align: middle;
}

#main-buttons button {
    width: 35vw;
    height: 25vw;
    font-size: 7.2vw;
    cursor: pointer;
    margin: 2vw;
    font-family: "Expletus Sans";
    background-color: #B0667C;
    border: none;
}

.more-details img,
.movie-more-details img {
    width: 7vw;
    position: absolute;
    top: 79%;
    right: 3%;
}

.genre,
#genre {
    text-transform: capitalize;
}

.sub-buttons {
    width: 97vw;
    margin: 0 auto;
    text-align: center
}

.sub-buttons button a {
    text-decoration: none;
    font-size: 1.5em;
    color: #FCFEFD;
    font-weight: 700;
    font-family: "Expletus Sans";
}

.sub-buttons button {
    width: 20vw;
    height: 15vw;
    margin: 8px 5px;
    background-color: #B0667C;
    border: none;
}

.current-item a {
    color: #B0667C;
}

.current-item {
    background-color: #FCFEFD;
}

h1 {
    font-family: "Expletus Sans";
    font-size: 1.9em;
    color: #2D393D;
    text-align: center;
    margin: 0;
    padding-top: 100px
}

H2 {
    font-family: "Expletus Sans";
    font-size: 1.4em;
    color: #B0667C;
    margin: 0;
}

h3 {
    font-family: "Expletus Sans";
    font-size: 1em;
    color: #2D393D;
    margin: 0;
}

p {
    font-family: "Expletus Sans";
    font-size: 1.1em;
    color: #2D393D;
}

.image,
.movie-image {
    width: 80vw;
    filter: grayscale(100%);
}

.image:hover,
.movie-image:hover {
    width: 80vw;
    filter: grayscale(0%);
}

.list,
.movie-list {
    text-align: center;
    background-color: #FCFEFD;
    width: 80vw;
    height: 70vw;
    margin: 25px auto;
    position: relative;
}

.date,
.time,
.movie-date,
.movie-time {
    display: inline-block;
}

.title {
    margin: 0;
}

.hidden {
    display: none;
}

.some-image {
    width: 50px;
}

#each-event {
    background-color: #FCFEFD;
    width: 70vw;
    margin: 0 auto;
}

#event-image {
    width: 70vw;
}

#each-event h1 {
    font-family: "Expletus Sans";
    padding-top: 0;
}

#content {
    display: grid;
    grid-template-columns: 0vw 20vw 70vw;
    padding-top: 145px;
}

#more-arrow img,
#movie-arrow img {
    height: 100px;
    margin: 15vh 25px 0 5px;
}


/*Breakpoint for Desktop*/

@media all and (min-width:666px) {
    .body {
        display: grid;
        grid-template-columns: 20% 80%;
        background-color: #EDFBFF;
        background-image: url(images/pattern-light-green.png);
        background-size: cover;
        padding: 170px 3vw;
    }
    main,
    .movies {
        display: grid;
        grid-gap: 30px;
        grid-template-columns: 1fr 1fr;
        grid-row-start: 2;
        grid-column: 2/3;
    }
    header {
        height: 150px;
    }
    footer {
        margin: 15px auto;
    }
    footer img {
        width: 200px;
        grid-column: 2/3;
        margin-left: 45vw;
    }
    .list,
    .movie-list {
        max-width: 25vw;
        max-height: 22vw;
        margin: 0;
        cursor: pointer;
        border-top: solid 5vw #2D393D;
        border-left: solid 5vw #2D393D;
    }
    h3 {
        font-family: "Expletus Sans";
        font-size: 1.2vw;
        color: #35262A;
        margin: 0;
    }
    h1 {
        padding-top: 0;
    }
    h2 {
        font-size: 1.5vw;
    }
    p {
        font-size: 1.3em;
        color: #35262A;
    }
    .image,
    .movie-image {
        max-width: 25vw;
    }
    /*Filtering Desktop*/
    .navigation {
        max-height: 21.7vw;
        grid-column: 1/2;
        grid-row-start: 2;
        margin-top: 0;
    }
    nav {
        max-height: 100vh;
        background: transparent;
        width: 270px;
        margin: 0 auto;
    }
    li {
        width: 12vw;
        height: 40px;
        padding-top: 8px;
        margin: 0 auto 10px 0;
    }
    ul {
        margin-top: 0;
    }
    nav a {
        color: #35262A;
        font-size: 1.7vw;
        padding-left: 1px;
    }
    nav a:hover {
        padding-left: 15px;
        color: #35262A;
    }
    label {
        display: none;
        margin: 0;
        padding: 0;
    }
    h1 {
        font-size: 4em;
        grid-row: 1;
        grid-column: 1/3;
    }
    /*//////////Desktop Buttons/////////////////*/
    #main-buttons {
        margin-top: 150px;
    }
    #main-buttons button {
        width: 20vw;
        height: 12vw;
    }
    #main-buttons a {
        font-size: 3.4vw;
    }
    .sub-buttons {
        text-align: center;
        margin: 15px 0;
    }
    .sub-buttons button {
        width: 190px;
        height: 100px;
        font-size: 1.7em;
        margin: 10px;
    }
    .more-details img,
    .movie-more-details img {
        width: 2.2vw;
        position: absolute;
        top: 79%;
        right: 3%;
    }
    /*////////// Animations/////////////////*/
    .more-details img:hover,
    .movie-more-details img:hover {
        animation: goright 0.8s ease-in-out infinite;
    }
    @keyframes goright {
        45% {
            transform: translateX(5px);
        }
        100% {
            transform: translateX(-5px);
        }
    }
    #more-arrow img:hover,
    #movie-arrow img:hover {
        animation: goleft 0.9s ease-in-out infinite;
    }
    @keyframes goleft {
        45% {
            transform: translateX(-5px);
        }
        100% {
            transform: translateX(5px);
        }
    }
    #each-event {
        background-color: #FCFEFD;
        width: 50vw;
        padding: 50px;
        border-top: solid 4vw #2D393D;
        border-left: solid 2vw #2D393D;
    }
    #content {
        display: grid;
        grid-template-columns: 0vw 0vw 80vw;
        padding: 250px 10vw 100px 10vw;
    }
    #more-arrow img,
    #movie-arrow img {
        height: 200px;
        margin-top: 27vh;
    }
    #event-image {
        width: 40vw;
        margin: 20px 25% 0 17%;
    }
}
